* {
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    /*background: rgb(159, 159, 241);*/
}

#homepageBackground{
    
    background-image: url(Pictures/Optomize2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% -5%;
    height: 100%;
}

#secondpageBackground{
    
    background-image: url(Pictures/Secondpage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% -5%;
    height: 100%;
}

#thirdpageBackground{
    
    background-image: url(Pictures/pageThree.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% -5%;
    height: 100%;
}

#fourthpageBackground{
    
    background-image: url(Pictures/Optamize1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% -5%;
    height: 100%;
}


.homepage {
    display: grid;
}

.containter {
    display: grid;
    
}
.hero {
    
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(Pictures/Optamize1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 47%;
    top: 0;
    margin-top: -22px;
    height: 300px;
  
}

header > h1.welcome {
    display: flex;
    justify-content: center ;
    color: black;
    font-family: cursive;
    font-size: 2rem;
}

header > h1.welcome > a{
    text-decoration: none;
    color: black;
}
    
    

header > h1 > a:hover {
    color: white;
    cursor: crosshair;
    
}

header > ul {
    display: flex;
    margin-top: 50px;
    list-style-type: none;
    font-family: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: space-evenly;
  

    
    
}

header > ul > li {
    
    
}

header > ul > li > a {
    color: white;
    background-color: gray;
    padding: 6px 13px;
    margin-left: 30px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
}

header > ul > li > a:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    
}


article {
    
    justify-content: center;
    font-size: large;
    
}

.aricletext {
    border-style: groove;
    border-color: white;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    background: linear-gradient();
    margin: auto;
    margin-top: 100px;
    width: 40%;
    height: 40%;

    


}

article > h2 {
    
    text-align: center;
    position: relative;
    
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
 }

 article > h2.aricletext {
    
 }

figure.images {
    border: groove;
    border-color: red;
    width: 700px;
    height: 700px;
   
}






.hello {
    display: flex;
    border-image: fill;
    
    
 
}



article > h2.aricletext > figure > figcaption {
    display: flex;
    justify-content: center;    
    color: white;
    font-size: medium;
    border: groove;
    border-color: white;
    background: linear-gradient(rgba(100, 99, 99, 0.5), rgba(112, 110, 110, 0.5));

    
    
}


div.Images{ 
    color: green;
}

div.Images > ul{ 
    display: flex ;
    justify-content: space-between;
    text-decoration: none;
    

}
div.Images > ul > li{ 
    list-style-type: none;
    margin-left: 100px;
    border: groove;
    width: 200px;
    height: 200px;
    border-radius: 20px;

    
    
}

div.Images > ul > li.Image1 {
   background-image: url(Pictures/HeberBody.jpeg);
   background-repeat: no-repeat;
   background-size: cover;
}

div.Images > ul > li.Image2 {
    background-image: url(Pictures/HeberBody.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
 }

 div.Images > ul > li.Image3 {
    background-image: url(Pictures/HeberBody.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
 }

 div.Images > ul > li.Image4 {
    background-image: url(Pictures/HeberBody.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
 }

 div.Images > ul > li.Image5 {
    background-image: url(Pictures/HeberBody.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
 }

 div.Images > ul > li.Image6 {
    background-image: url(Pictures/HeberBody.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
 }